


@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cookie&family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cookie&family=Julius+Sans+One&family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cookie&family=Julius+Sans+One&family=Kaisei+Tokumin&family=ZCOOL+XiaoWei&display=swap');



:root {
    --white: white;
    --black:black;
    --green:green;
    --whitesmoke:whitesmoke;
    --purpleColor: purple;
    --dodgerBlue: dodgerBlue;
}







body {
    padding:0;
    margin:0;
    overflow-x: hidden;
}





* {
    box-sizing: border-box;
}











/*------------------------------------NAVBAR--------------------------------------------*/


.Nav-Container  {
    width: 100%;
    overflow: hidden;
    background-color:white;
    position: fixed;
    top:0px;
    z-index: 101;
    
}



.Nav-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap:30px;

}


.portfolio {
    position: relative;
    top:0px;
    right: 210px;
    font-size: 1.5rem;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    color:var(--dodgerBlue)
}


.nav-button-content {
    position: relative;
    top:0px;
    left: 210px;
   
}




.nav-button-content button {
    border:none;
    outline: none;
    border-radius: none;
    color:var(--black);
    background-color: transparent;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}


.nav-button-content button:hover {
  color:var(--green);
  cursor: pointer;
}





.portfolio-inner-text {
    color:var(--purpleColor)
}











/*------------------------------------HEADER--------------------------------------------------*/


.Header-Container {
    width: 100%;
    overflow: hidden;
    background:url('/src/images/malibubackground.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 710px;
    animation-name: headerContent;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transition: 10s linear;
    
}


  @keyframes headerContent {
    0% {
        background:url(/src/images/malibubackground.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
        

    }

    50% {
        background:url(/src/images/cannon-beach-oregon.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;

    }

    100% {
        background:url(/src/images/Oregon-Canon-Beach.png);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: local;
        
    }
  }


.Header-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    max-width: 1800px;
    margin:0 auto;
    text-align: center;
    margin-top: 110px;
}





.header-content {
    color:white;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 410px;
}


.header-content .font-end {
    color:var(--whitesmoke);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}


.header-content:not(.font-end) {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-size: 2rem;
}

.header-content img {
    object-fit: contain;
    width: 25px;
}





.header-image img {
    width: 550px;
    object-fit: contain;
    border-radius:60%;
}




.header-links-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}


.font-end {
    position: relative;
    top:0px;
    left: 40px;
}


.font-end-text {
    width: 510px;
}



.link a {
    width: 410px;
    background-color:var(--green);
    color:var(--white);
    font-size: 1rem;
    text-decoration: none;
    padding:0.8em 1em;
    border-radius:10px;
    font-family: "Patua One", serif;
    font-weight: 400;
}

.link-two a {
    width: 410px;
    font-size: 1rem;
    text-decoration: none;
    background-color:var(--green);
    color:var(--white);
    padding:0.8em 1em;
    border-radius:10px;
    font-family: "Patua One", serif;
    font-weight: 400;
    
}


.link-two a:hover {
    background-color:var(--whitesmoke);
    color:var(--green);
}

.link a:hover {
    background-color:var(--whitesmoke);
    color:var(--green);
}













/*------------------------------------CONTENT--------------------------------------------------*/



.Main-Content {
    overflow: hidden;
    width: 100%;
    background-color:var(--white);
    height: 680px;
}



.Main-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 1000px;
    text-align: center;
}


.about-content {
    font-family: "Antic Didone", serif;
    font-weight: 400;    
    font-size: 1.9rem;
}


.about-content hr {
    color:var(--green);
    margin-top: -30px;
}




.About-Me-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin:0 auto;
    max-width: 1800px;
    text-align: center;
    margin-top: 90px;
}





.about-me-content-bio {
    font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
    width: 710px;
    margin-top:-90px;
    font-size: 1.1rem;
  
}

.about-me-content-bio h3 {
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 400;
}


.about-me-content {
    background:url(/src/images/graduation\ image\ .jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 10% 70%;
    width: 610px;
    height: 310px;
    animation-name: imageContent;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 10s linear;


}

@keyframes imageContent {
    0% {
        background:url(/src/images/myself.jpeg);
        background-repeat:no-repeat;
        background-size:cover;

    }

    50% {
        background:url(/src/images/graduation\ image\ .jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position: 10% 70%;
    }

    100% {
        background:url(/src/images/animation.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }

    
}




.about-me-content img {
    width: 610px;
    object-fit: contain;
    object-position: 9px 10px;
    border-radius:3%
}



.About-Me-Links-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 210px;
    text-align: center;
}

.About-Me-Links-Wrapper img {
    width: 70px;
    object-fit: contain;
}


.About-Me-Links-Wrapper img:hover {
    cursor: pointer;
}













/*------------------------------------WHAT I KNOW CONTENT--------------------------------------------------*/



.Technologies-Container {
    width: 100%;
    overflow: hidden;
    background-color:var(--black);
    height: 740px;
    animation-name:techContainer;
    animation-delay:0s;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
    transition: 4s linear;
}

@keyframes techContainer {
    0% {background-color:black}
    100%{background-color:purple};
}






.Tech-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
}



.Tech-Wrapper  h3 {
    color:var(--white);
    font-size: 1.9rem;
    font-family: "Antic Didone", serif;
    font-weight: 400;  
}


.Tech-Wrapper hr {
    color:var(--green);
    margin-top: -30px;
}







.Tech-Skills-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 550px;
    margin-left: 90px;
}


.tech-skills-content {
    color:var(--white);
}


.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 800px;
    height: 110px;
    position: relative;
    top:90px;
    left: 280px;
}





.image-language img {
    width: 145px;
    object-fit: contain;
    margin:0px 20px;
    mix-blend-mode: normal;
}


.Tech-Skills-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 550px;
    text-align: center;
    position: relative;
    top:0px;
    right: 409px;
}




.know-text {
    color:var(--white);
    width: 490px;
}


.know-text h3 {
    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-size: 1.5rem;
}


.know-text p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}













/*-------------------------------------WORK SO FAR--------------------------------------------------*/


.Showcase-Container {
    width: 100%;
    overflow: hidden;
    background-color:var(--whitesmoke);
    height: 1550px;
}


.Showcase-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
}


.Showcase-Wrapper h3 {
    color:var(--black);
    font-size: 1.9rem;
    font-family: "Antic Didone", serif;
    font-weight: 400;  
}


.Showcase-Wrapper hr {
    color:var(--green);
    margin-top: -30px;
}








.Experience-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 2100px;
    text-align: center;
    margin-top: 90px;
}


.Experience-Wrapper img {
    height: 180px;
    object-fit: contain;
    border: 1px solid var(--black)
}




.image-one:hover {
    transform: scale(1.1, 1);
    transition: 3s linear;
}

.image-two:hover {
    transform: scale(1.1, 1);
    transition: 3s linear;
}


.image-three:hover {
    transform: scale(1.1, 1);
    transition: 3s linear;
}



.image-four:hover {
    transform: scale(1.1, 1);
    transition: 3s linear;
}


.image-five:hover {
    transform: scale(1.1, 1);
    transition: 3s linear;
}


.image-six:hover {
    transform: scale(1.1, 1);
    transition: 3s linear;
}

















.image-one {
    background-color:var(--green);
    height: 410px;
}

.image-two {
    height: 410px;
    background-color:var(--purpleColor)
}




.image-three {
    height: 410px;
    background-color:var(--dodgerBlue)

}


.image-four {
    height: 410px;
    background-color:rgba(0, 0, 0, 0.059);
}


.image-five {
    height: 410px;
    background-color:rgba(248, 29, 29, 0.764);
}



.image-six {
    height: 410px;
    background-color:rgba(29, 248, 55, 0.764);
}


.image-seven {
    height: 410px;
    background-color:rgba(238, 227, 7, 0.764);
}






.image-one:hover,
.image-two:hover,
.image-three:hover,
.image-four:hover,
.image-five:hover,
.image-six:hover,
.image-seven:hover {
    cursor: pointer;
}



.image-one-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 1.2rem;
}


.image-one-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 1.1rem;
    margin-top: 40px;
}


.image-one-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 0.9rem;
    margin-top: 30px;
}










.image-two-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 1rem;
}


.image-two-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 0.9rem;
    margin-top: 50px;
}

.image-two-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 0.9rem;
    margin-top: 3px;
}








.image-three-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 0.9rem;
    margin-top: 30px;
}



.image-three-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 1rem;
}




.image-three-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 0.9rem;
    margin-top: 35px;
}






.image-four {
    position: relative;
    top:30px;
    left: -3px;
}


.image-four-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 0.9rem;
    margin-top: 30px;
}



.image-four-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 1rem;
}




.image-four-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 0.9rem;
    margin-top: 35px;
}














.image-five {
    position: relative;
    top:30px;
    left: -15px;
}


.image-five-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 0.9rem;
    margin-top: 30px;
}



.image-five-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--white);
    font-size: 1rem;
}




.image-five-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 0.9rem;
    margin-top: 35px;
}







.image-six {
    position: relative;
    top:30px;
    left: -3px;
}


.image-six-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:black;
    font-size: 0.9rem;
    margin-top: 30px;
}



.image-six-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 1rem;
}




.image-six-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 0.9rem;
    margin-top: 35px;
}







.image-seven {
    position: relative;
    top:80px;
    right:450px;
}





.image-seven-text-two {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:black;
    font-size: 0.9rem;
    margin-top: 30px;
}



.image-seven-text {
    font-family: "Antic Didone", serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 1rem;
}




.image-seven-text-three {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400; 
    color:var(--black);
    font-size: 0.9rem;
    margin-top: 35px;
}



    





.Contact-Container {
    width: 100%;
    overflow: hidden;
    background-color:var(--black);
    height: 310px;
}


.Contact-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 550px;
}



.Contact-Wrapper h3 {
    font-size: 1.9rem;
    font-family: "Antic Didone", serif;
    font-weight: 400;
    color:var(--white)
}


.Contact-Wrapper hr {
    color:var(--green);
    margin-top: -30px;
}


.contact-text-two {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
}




.Contact-Info-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 1000px;
    gap:45px;
    padding:3em
    

}


.Contact-Info-Wrapper img {
    width: 45px;
    object-fit: contain;
    background: transparent;
}

.contact-text-three h3 {
    color:var(--white)
}


.contact-text-three span {
    color:var(--white)

}












/*--------------------------FOOTER----------------------------*/
.Footer-Container {
    width: 100%;
    overflow: hidden;
    background-color: var(--white);
    position: relative;
    bottom: 0px;
}


.Footer-Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 1000px;
    text-align: center;

}

.footer-content {
   text-align: center;
}


.footer-content span {
    color:var(--green);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer-content:not(span) {
    color:var(--black);
    font-family: 'Times New Roman', Times, serif;
}


















/*-------------------------------------MOBILE--------------------------------------------------*/

    @media screen and (min-width:320px) and (max-width:420px) {


        body {
            margin-block:-380px
        }

        .Nav-Container  {
            width: 100%;
            overflow: hidden;
            background:linear-gradient(black, white, whitesmoke);
            border-radius: 0px;
            z-index: 101;
            position: relative;
            visibility: hidden;
            
        }



        .Nav-Wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 550px;
            margin: 0 auto;
            gap:30px;
        
        }
        
        
        .portfolio {
            position: relative;
            top:0px;
            right: 0px;
            font-size: 1.5rem;
            font-family: "Edu AU VIC WA NT Hand", cursive;
            font-optical-sizing: auto;
            color:var(--white)
        }
        
        
        .nav-button-content {
            position: relative;
            top:-10px;
            left: 0px;
           
        }
        
        
        
        
        .nav-button-content button {
            border:none;
            outline: none;
            border-radius: none;
            color:black;
            background-color: transparent;
            font-size: 1.2rem;
            font-family:Georgia, 'Times New Roman', Times, serif
        }



    .Header-Container {
    width: 100%;
    overflow: hidden;
    background-color:var(--black);
    height: 710px;
    margin-block:0px
}


    .Header-Wrapper {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin:0 auto;
    text-align: center;
    margin-top: 110px;
}



    .font-end {
        margin-left: -65px;
    }


     .font-end-text {
        font-size: 1.4rem;
        width: 380px;
        text-align: center;
        margin-left: 25px;
        
     }

     


    .header-content {
    color:white;
    font-size: 0.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 410px;
    }


    .header-content img {
    object-fit: contain;
    width: 25px;
    }



    .header-image {
        margin-block:30px
    }

    .header-image img {
    width: 310px;
    object-fit: contain;
    border-radius:60%
    }


    .header-links-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    }


    .header-links-wrapper a {
        font-size: 0.8rem;
    }




    .Main-Content {
        overflow: hidden;
        width: 100%;
        background-color:var(--white);
        height: 980px;
    }




    .About-Me-Wrapper {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        margin:0 auto;
        max-width: 1800px;
        text-align: center;
        margin-top: 9px;
    }
    
    .about-content {
        font-family: "Antic Didone", serif;
        font-weight: 400;    
        font-size: 1.5rem;
    }
    
    
    
    
    .about-me-content-bio {
        font-family: "Kaisei Tokumin", serif;
        font-weight: 400;
        width: 310px;
        margin-top:30px;
        font-size: 0.9rem;
      
    }
    
    .about-me-content-bio h3 {
        font-family: "ZCOOL XiaoWei", sans-serif;
        font-weight: 400;
    }
    
    
    .about-me-content img {
        width: 310px;
        object-fit: contain;
        object-position: 9px 10px;
        border-radius:3%
    }
    
    
    
    .About-Me-Links-Wrapper {
        display: flex;
        align-items:center;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 210px;
        margin-top: 30px;
        text-align: center;
    }
    
    .About-Me-Links-Wrapper img {
        width: 80px;
        object-fit: contain;
    }


    .Technologies-Container {
        width: 100%;
        overflow: hidden;
        background-color:var(--black);
        height: 1080px;
    }



    .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 800px;
    height: 210px;
    position: relative;
    top:150px;
    left: 55px;
    }


    .image-wrapper img {
        width: 90px;
        object-fit: contain;
        margin: 10px
    }


    .Tech-Skills-Wrapper {
        display: flex;
        align-items:center;
        justify-content: center;
        margin:0 auto;
        width: 250px;
        position: relative;
        top:290px;
        left: 0px;
    }


    .Showcase-Container {
        width: 100%;
        overflow: hidden;
        background-color:var(--white);
        height: 2800px;
        text-align: center;
    }
    

    .Showcase-Wrapper h3 {
        color:var(--black);
        font-size: 1.3rem;
        font-family: "Antic Didone", serif;
        font-weight: 400;  
    }

    .Showcase-Wrapper hr {
        margin-top: -20px;
    }



    
.Experience-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:30px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    margin-top: 90px;
}


.Experience-Wrapper img {
    height: 180px;
    object-fit: contain;
    border: 1px solid var(--black)
}









.image-one {
    background-color:var(--green);
    height: 410px;
}

.image-two {
    height: 410px;
    background-color:var(--purpleColor)
}




.image-three {
    height: 410px;
    background-color:var(--dodgerBlue)

}


.image-four {
    height: 410px;
    background-color:rgba(0, 0, 0, 0.059);
}


.image-four {
    position: relative;
    top:30px;
    left: 0px;
}


.image-five {
    position: relative;
    top:30px;
    left: 0px;

}


.image-six {
    position: relative;
    top:30px;
    left: 0px;

}



.image-seven {
    position: relative;
    top:30px;
    left: 0px;

}






.Contact-Container {
    width: 100%;
    overflow: hidden;
    background-color:var(--black);
    height: 710px;
    text-align: center;
}




    .Contact-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 1000px;
}



.Contact-Wrapper h3 {
    font-size: 1.5rem;
    font-family: "Antic Didone", serif;
    font-weight: 400;
    color:var(--white)
}


.Contact-Info-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 1000px;
    gap:20px;
    padding:3em
    

}


.Contact-Info-Wrapper img {
    width: 50px;
    object-fit: contain;
    background: transparent;
}





    

    }
